.background-container {
  width: 100%;
  padding: 2rem;
  height: 100%;
}

.sun {
  /* Preserve aspet ratio */
  min-width: 10%;
  min-height: 10%;
}

.background-image {
  position: fixed;
  bottom: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  max-height: 35%;
}

@media only screen and (max-width: 768px) {
  .sun {
    display: none;
  }
}
